<input type=button value="Go Back" onClick="javascript:history.go(-1);">



<!DOCTYPE html>
<html lang="en">

<head>
    <title>7A</title>
    <link rel="icon" type="image/x-icon" href="https://github.com/harshakurra123/Smile-Maker/blob/main/images//favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    


    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Jokes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">about</a>
                </li>

            </ul>
        </div>
        {% for i in data %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" style="justify-content: center;">
            <div class="col mb-4">
              <div class="card">
                <!-- <img src="https://dummyimage.com/600x400/000/fff.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">{{ i.joke_title }}</h5>
                  <p class="card-text">{{ i.joke_description }}</p>
                  
                </div>
              </div>
            </div>
        </div>
        <!-- <div class="card" style="display: flex;
        justify-content: center;
        align-items: center;
        width: 600pxn;
        position: absolute;
        top: 150%;
        left: 30%;
        right: 30%;
        height: 200px;
        border: 3px solid green;">
            <h5 class="card-title">{{ i.joke_title }}</h5>
            <p class="card-text">{{ i.joke_description }}</p>
            
        </div> -->
        {% endfor %}
    </div>

</body>

</html>